.content-wrapper {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 35px;

	@media (min-width: 768px) {
		display: flex;
		align-content: flex-start;
		padding: 0 24px 40px;
  }

	@media (min-width: 1120px) {
		display: flex;
		align-content: flex-start;
		padding: 0 32px 40px;
  }
}